{% extends "mother_app.html" %}
{% block app %}
    <div class="chat-wrap">
          <h1>Чат</h1>
          <div class="chatbox"> 
              <ul class="messages-list">
                  {% for message in messages %}
                      {% if message.user == request.user %}
            <!-- Сообщение юзера -->
            <li class="user-message">
            {{ message.message }}
            </li>
            <!--Сообщение llm -->
            <li class="llm-message">
            {{ message.response }}
            </li>
                      {% endif %}
                  {% endfor %}
              </ul>    
          </div>
          
   <form class="message-form">
    <!--{%csrf_token%} -->
    <div class="chat-input">
      <textarea class="message-input">
      </textarea>
      <button type="submit" class="send-button">Отправить</button>
    </div>
  </form>
         </div>
    <script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
    messageForm.addEventListener('submit', (event) =>{
        event.preventDefault();
        const message = messageInput.value.trim();
        if (message.length === 0){
            return;
        }
        
        const messageItem = document.createElement('li');
        messageItem.classList.add('user-message');
        messageItem.innerText = message;
        messagesList.appendChild(messageItem);
        messageInput.value = '';
        
        fetch('', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({
            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            'message': message
            })
           })
        
            .then(response => response.json())
            .then(data =>{
                const response = data.response;
                const messageItem = document.createElement('li');
                messageItem.classList.add('llm-message');
                messageItem.innerText = response;
                messagesList.appendChild(messageItem);
            });
    });
    </script>
{% endblock %}
