{% extends "mother_app.html" %}
{% block app %}
          <h1>Отметиться</h1>
          <div class="check-in">
          
          {% if form.errors %}
        <div class="alert" role="alert">
            {% for error in form.errors.values %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
          {% if message %}
          <h1 style="margin-top:40%">{{ message }}</h1>
          {% else %}
            <form method="POST">
                {% csrf_token %}
                <!-- Идентификатор формы -->
                <input type="hidden" name="form_type" value="record_form">
                <!-- Идентификатор формы -->
            <p class="checkin-p">Как настроение?</p>
              <div class="cont-checkin">
                  {{ form.mood }}
              </div>
            <p class="checkin-p">Чем вы сегодня занимались?</p>
              <div class="cont-checkin">
                  {{ form.activity }}
              </div>
              <input type="submit" class="auth-button" value="Отметиться">
            </form>
          {% endif %}
          </div>
{% endblock %}
