{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
  <div class="mainblock">
    <div class="workplace">
       <div class="menu">
         <div class="logobox">
         <a href=" "><img src="https://img.icons8.com/?size=80&id=x92wwwMShNgw&format=png" alt="Запись" class="logo">
         <p>Beehive</p>
          </a>
          </div>
        <ul>
            <li><a href="record/"><img src="https://img.icons8.com/?size=32&id=TwqkIprBArPo&format=png" alt="Запись" class="icon"></a></li>
            <li><a href="chat/"><img src="https://img.icons8.com/?size=32&id=r8OlFT4AW9J5&format=png" alt="Чат" class="icon"></a></li>
            <li><a href="analytics/"><img src="https://img.icons8.com/?size=32&id=sMkBce0cu0nT&format=png" alt="Аналитика" class="icon"></a></li>
        </ul>
         <div class="logout">
         <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="a-button">Выйти</button>
</form>
         </div>
    </div>
      <!--Рабочевое -->
      <div class="func">
        <header>
<div class="profile">
<a href="profile"><img src="https://img.icons8.com/?size=80&id=JXEhnqJR1TJ9&format=png" alt="Это ты!" class="userpic"></a>
    <!--тут должен был быть дд -->
  <span class="dropdown">
<img src="https://img.icons8.com/?size=32&id=ag74FXs3XtwG&format=png" alt="меню">
  <div class="dropdown-content">
    <a href="#">Профиль</a>
    <a href="#">Изменить данные</a>
  </div>
  </span>
</div>
        </header>
      <!--прилка -->
        <div class="app">
          {% block app %} {% endblock %}
        </div>
        <!--бочки -->
        <div class="add">
          {% block add %} {% endblock %}
        </div>
      </div>
     </div>
  </div>
  </body>
</html>